@layout MainLayout

<h1 class="mt-2">Hello World Component</h1>

<p>This was rendered from a Razor Component!</p>

@if (Message is not null)
{
    <p>@Message</p>
}

@code {
    [Parameter]
    public string Message { get; set; } = "";
}
