<LayoutView Layout="typeof(Layout)">
    <h1>Hello World Component</h1>

    <p>This was rendered from a Razor Component!</p>

    @if (Message is not null)
    {
        <p>@Message</p>
    }
</LayoutView>

@code {
    [Parameter]
    public string Message { get; set; } = "";
}
