@attribute [ClientComponent]

<h2>Hello from WASM!</h2>

<button @onclick="@(() => counter++)">Click Me!</button>

<p>@counter</p>

@if (!string.IsNullOrEmpty(Message))
{
    <p>@Message</p>
}

@code {
    int counter;

    [Parameter]
    public string? Message { get; set; }
}